/* Main properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    height: 100vh;
    background-color: #9bf8ff;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cb348504-9154-420d-b60b-02b047232ee2/dbqsqny-d93e3aa7-7324-4dee-b3d8-2c2292e72c14.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvY2IzNDg1MDQtOTE1NC00MjBkLWI2MGItMDJiMDQ3MjMyZWUyXC9kYnFzcW55LWQ5M2UzYWE3LTczMjQtNGRlZS1iM2Q4LTJjMjI5MmU3MmMxNC5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.U6ZVoUv3HgVF4wj-iSGL2l3bT7TOaSrAIIoke3fgLYk");
}

.container {
    text-align: center;
    padding: 0.5rem;
    margin: 1rem auto;
    box-shadow: 0 2px 8px #00000042;
    border-radius: 12px;
}

/* Header */
header {
    box-shadow: 0 2px 8px #00000042;
    padding: 0.5rem;
    background-color: #0c37c4;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2rem;
}

header h1,
header img {
    vertical-align: middle;
}

header h1 {
    display: inline;
    margin-right: 20px;
}

header img {
    width: 50px;
    border-radius: 10%;
    animation: rotate 3s infinite ease-in-out;
}

/* Header image animation */
@keyframes rotate {
    0% {
        transform: rotateY(0);
    }

    50% {
        transform: rotateY(180deg);
    }
}

/* Health sections */
section {
    width: 90%;
    max-width: 40rem;
    margin: auto;
}

.health-bar {
    width: 100%;
    height: 40px;
    border: 1px solid #575757;
    margin: 1rem 0;
    background: #fde5e5;
}

.health-bar_value {
    background-color: #315ef3;
    width: 100%;
    height: 100%;
}

#monster h2,
#player h2,
#log h2 {
    margin: 0.25rem;
    font-style: italic;
}

/* Buttons section */
#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

button {
    font: inherit;
    border: 1px solid #0d35b8;
    background-color: #0d35b8;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 12px;
    margin: 1rem;
    width: 12rem;
    cursor: pointer;
    box-shadow: 1px 1px 4px #00000042;
}

button:focus {
    outline: none;
}

button:hover,
button:active {
    background-color: #098dda;
    border-color: #098dda;
    box-shadow: 1px 1px 8px #00000042;
}

button:disabled {
    background-color: #ccc;
    border-color: #ccc;
    box-shadow: none;
    color: #3f3f3f;
    cursor: not-allowed;
}

/* Battle log */
#log ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#log li {
    margin: 0.5rem 0;
    font-size: 20px;
}

.log-player,
.log-monster,
.log-damage,
.log-heal {
    font-weight: bold;
}

.log-player {
    color: #7700ff;
}

.log-monster {
    color: #ff6900;
}

.log-damage {
    color: #ff0000;
}

.log-heal {
    color: #008000;
}