<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet"/>
        <!-- Vue.js -->
        <script src="https://unpkg.com/vue@next"></script>    
        <!-- Style -->
        <link rel="stylesheet" href="css/style.css"/>
        <title>The Monster Slayer Game ⚔️👾</title>
    </head>
    <body>
        <header>
            <h1>Monster Slayer</h1>
        </header>
        <div id="game">

            <!-- Monster health-bar -->
            <section id="monster" class="container">
                <h2>Monster Health</h2>
                <div class="health-bar">
                    <div class="health-bar_value" :style="monsterBar"></div>
                </div>
            </section>

            <!-- Player health-bar -->
            <section id="player" class="container">
            <h2>Your Health</h2>
                <div class="health-bar">
                    <div class="health-bar_value" :style="playerBar"></div>
                </div>
            </section>

            <!-- Victory/Loss display -->
            <section class="container" v-if="winner">
                <h2>Game Over!</h2>
                <h3 v-if="winner === 'monster'">You lost...</h3>
                <h3 v-else-if="winner === 'player'">You won!</h3>
                <h3 v-else-if="winner === 'draw'">DRAW</h3>
                <button @click="startGame">Start New Game</button>
            </section>

            <!-- Buttons/Controls -->
            <section id="controls" v-else>
                <button @click="attackMonster()">ATTACK</button>
                <button :disabled="specialAttackEnabled" @click="specialAttackMonster()">SPECIAL ATTACK</button>
                <button :disabled="healingEnabled" @click="healPlayer()">HEAL</button>
                <button @click="surrender()">SURRENDER</button>
            </section>

            <!-- Battle log -->
            <section id="log" class="container">
                <h2>Battle Log</h2>
                <ul></ul>
            </section>
        </div>

        <!-- Functions file -->
        <script src="js/functions.js"></script>
        <!-- Main JS file -->
        <script src="js/script.js"></script>
    </body>
</html>
